.tab {
    width: calc(2660 / $width-body * 100vw);
    margin: 0 auto;
    margin-top: calc(123 / $width-body * 100vw);
    padding-bottom: calc(304 / $width-body * 100vw);
}
.header {
    display: block;
    width: 100%;
    background-color: $color-black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    * {
        font-family: $font-montserrat;
        font-weight: 700;
        @include responsive-font(14, 12);
        color: $color-wheit;
    }
}
.menu-list__line {
    display: block;
    width: 2px;
    height: calc(40 / $width-body * 100vw);
    background-color: $color-wheit;
    margin: 0 5px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(73 / $width-body * 100vw);
}
.menu-list__rg {
    width: calc(79 / $width-body * 100vw);
    padding: calc(20 / $width-body * 100vw) 0;
}
.menu-list__logo {
    width: calc(48 / $width-body * 100vw);
    margin-right: calc(86 / $width-body * 50vw);
}
.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(1620 / $width-body * 115vw);
    padding: 0;
}
.menu-list__link {
    margin: 0 5px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile__text {
    margin-left: calc(18 / $width-body * 100vw);
}

.content {
    position: relative;
    width: 100%;
    height: calc(1520 / $width-body * 100vw);
    background: url(../img/JPG/bg-tab.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content__bg {
    position: absolute;
    width: calc(297 / $width-body * 100vw);
    height: calc(1063 / $width-body * 100vw);
    top: calc(125 / $width-body * 100vw);
    left: calc(100 / $width-body * 100vw);
}

.footer {
    width: 100%;
    height: calc(132 / $width-body * 100vw);
    background-color: $color-wheit;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}