doctype html
html(lang="en")
   head.page
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="./css/style.min.css")
      title Valorant
   body.page__body
      main.main__page
         .logo-wrap 
           a.logo(href="#")  
               img.logo__img(src="./img/SVG/figma-img.svg" alt="logo")
           span.logo__text Free files
         include modules/tab.pug
      script(src="script/main.min.js")