.card-main-wrap 
    .card-main
        .card-main__header
            .card-main-triangle
                object.card-main-body__title.card-main-body__title-03(type="image/svg+xml" data="./img/cards-main/SVG/title-03.svg")
            .card-main-insert
        .card-main-body
            .card-main-hero
                img.card-main-hero__image(src="./img/cards-main/PNG/Art-03.png" alt="hero")
        .card-main-bottom
            ul.card-main-bottom__list 
                li.item 
                    button.card-main-bottom__link 
                        img.card-main-bottom__image.card-main-bottom__image-size-01(src="./img/cards-main/SVG/card-03-01.svg" alt="skill")
                li.item 
                    button.card-main-bottom__link 
                        img.card-main-bottom__image.card-main-bottom__image-size-02(src="./img/cards-main/SVG/card-03-02.svg" alt="skill")
                li.item 
                    button.card-main-bottom__link 
                        img.card-main-bottom__image.card-main-bottom__image-size-03(src="./img/cards-main/SVG/card-03-03.svg" alt="skill")
                li.item 
                    button.card-main-bottom__link 
                        img.card-main-bottom__image.card-main-bottom__image-size-04(src="./img/cards-main/SVG/card-03-04.svg" alt="skill")