.cards-description
         .nameplate
            .nameplate__header
               .nameplate__triangle
               .nameplate__insert
            .nameplate__footer
               .nameplate-text-inner
                  h2.nameplate-text-inner__title Basic
                  h3.nameplate-text-inner__subtitle Slow Orb 
                  p.nameplate-text-inner__description Cast out a radianite orb that breaks into a slowing field upon impact with the ground.
               .nameplate-image 
                  img.nameplate-image__image(src="./img/PNG/em-01.png" alt="emblem")     
         .nameplate
            .nameplate__header
               .nameplate__triangle
               .nameplate__insert
            .nameplate__footer
               .nameplate-text-inner
                  h2.nameplate-text-inner__title SIGNATURE
                  h3.nameplate-text-inner__subtitle Healing Orb
                  p.nameplate-text-inner__description Heal an ally or yourself to full health over a few seconds.
               .nameplate-image 
                  img.nameplate-image__image(src="./img/PNG/em-02.png" alt="emblem")     
         .nameplate
            .nameplate__header
               .nameplate__triangle
               .nameplate__insert
            .nameplate__footer
               .nameplate-text-inner
                  h2.nameplate-text-inner__title ULTIMATE
                  h3.nameplate-text-inner__subtitle Resurrection
                  p.nameplate-text-inner__description Target a friendly corpse. After a short delay, revive them with full health.
               .nameplate-image 
                  img.nameplate-image__image(src="./img/PNG/em-03.png" alt="emblem")  
         .nameplate.nameplate-btn
            .nameplate__header
               .nameplate__triangle
               .nameplate__insert
            .nameplate__footer
               img.nameplate-image__image(src="./img/SVG/Polygon.svg" alt="triangle")