.skills-hero
    img.skills-hero__img(src="./img/cards-main/PNG/Art-04.png" alt="hero")
    .container-content
        .skills-hero-btn
            button.skills-hero-btn__button back 
        .box-card-content
            .box-badge 
                object.box-badge__image(type="image/svg+xml" data="./img/cards-main/SVG/card-04-01.svg")
                .box-badge-text
                    .box-badge-text__title Basic 
                    .box-badge-text__subtitle Slow Orb 
            .box-card-content-description 
                p.box-card-content-description__text #[span.box-card-content-description__span Description:] Deals 240-800 true damage to an enemy hero (damage increases with level). This ability has a cooldown of 90 seconds.
                p.box-card-content-description__text #[span.box-card-content-description__span Pro Tip:] Execute is often used to inflict additional damage on top of burst attack combos, or deliver decisive killing blows. This ability usually targets the enemy hero with the least amount of HP or the one closest to you. Alternatively, you can hold down the ability button for better targeting if there’s more than one enemy hero within your range.
        .skills-table        
            ul.skills-table-row
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-01-01.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-01-02.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-01-03.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-01-04.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-02-01.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-02-02.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-02-03.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-02-04.svg" alt="skill")     
            ul.skills-table-row
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-03-01.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-03-02.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-03-03.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-03-04.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-04-01.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-04-02.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-04-03.svg" alt="skill")     
                li.item 
                    button.skills-table-row__item
                        img.skills-table-row__img(src="./img/cards-main/SVG/card-04-04.svg" alt="skill")     

