section.tab 
   .header 
      nav.menu 
         ul.menu-list 
            li.item 
               a.menu-list__link(href="#")
                  img.menu-list__rg(src="./img/SVG/riot_games.svg" alt="riot games") 
            li.item 
               .menu-list__line
            li.item 
               a.menu-list__link(href="#")
                  img.menu-list__logo(src="./img/SVG/logo.svg" alt="logo") 
            li.item 
               a.menu-list__link(href="#") GAME
            li.item 
               a.menu-list__link(href="#") CHAMPIONS
            li.item 
               a.menu-list__link(href="#") NEWS
            li.item    
               a.menu-list__link(href="#") PATCH NOTES
            li.item 
               a.menu-list__link(href="#") DISCOVER
            li.item 
               a.menu-list__link(href="#") ESPORTS
            li.item 
               a.menu-list__link(href="#") UNIVERSE
            li.item 
               a.menu-list__link(href="#") SHOP
            li.item 
               a.menu-list__link(href="#") SUPPORT
         .profile
               img.profile__image(src="./img/PNG/icon.png" alt="photo to prifile")
               a.profile__text(href="#") UNEPICKID

   .content
      img.content__bg(src="./img/SVG/bg-title.svg" alt="text")
      
      //- .card-main-flex
      //-    include card-01.pug
      //-    include card-02.pug
      //-    include card-03.pug
      //-    include card-04.pug

      //- include card-description.pug
      include skills-hero.pug

   .footer 
