section.tab 
   .header 
      nav.menu 
         ul.menu-list 
            li.item 
               a.menu-list__link(href="#")
                  img.menu-list__rg(src="./img/SVG/riot_games.svg" alt="riot games") 
            li.item 
               .menu-list__line
            li.item 
               a.menu-list__link(href="#")
                  img.menu-list__logo(src="./img/SVG/logo.svg" alt="logo") 
            li.item 
               a.menu-list__link(href="#") GAME
            li.item 
               a.menu-list__link(href="#") CHAMPIONS
            li.item 
               a.menu-list__link(href="#") NEWS
            li.item    
               a.menu-list__link(href="#") PATCH NOTES
            li.item 
               a.menu-list__link(href="#") DISCOVER
            li.item 
               a.menu-list__link(href="#") ESPORTS
            li.item 
               a.menu-list__link(href="#") UNIVERSE
            li.item 
               a.menu-list__link(href="#") SHOP
            li.item 
               a.menu-list__link(href="#") SUPPORT
         .profile
               img.profile__image(src="./img/PNG/icon.png" alt="photo to prifile")
               a.profile__text(href="#") UNEPICKID

   .content
      img.content__bg(src="./img/SVG/bg-title.svg" alt="text")
      .card-main-flex
         .card-main-wrap 
            .card-main
               .card-main__header
                  .card-main-triangl
                     object.card-main-body__title(type="image/svg+xml" data="./img/cards-main/SVG/title-01.svg")
                  .card-main-insert
               .card-main-body
                  .card-main-hero
                     img.card-main-hero__image(src="./img/cards-main/PNG/Art-01.png" alt="hero")
               .card-main-bottom
                  ul.card-main-bottom__list 
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-01(type="image/svg+xml" data="./img/cards-main/SVG/card-01-01.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-02(type="image/svg+xml" data="./img/cards-main/SVG/card-01-02.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-03(type="image/svg+xml" data="./img/cards-main/SVG/card-01-03.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-04(type="image/svg+xml" data="./img/cards-main/SVG/card-01-04.svg")
         .card-main-wrap 
            .card-main
               .card-main__header
                  .card-main-triangl
                     object.card-main-body__title.card-main-body__title-02(type="image/svg+xml" data="./img/cards-main/SVG/title-02.svg")
                  .card-main-insert
               .card-main-body
                  .card-main-hero
                     img.card-main-hero__image(src="./img/cards-main/PNG/Art-02.png" alt="hero")
               .card-main-bottom
                  ul.card-main-bottom__list 
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-01(type="image/svg+xml" data="./img/cards-main/SVG/card-01-01.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-02(type="image/svg+xml" data="./img/cards-main/SVG/card-01-02.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-03(type="image/svg+xml" data="./img/cards-main/SVG/card-01-03.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-04(type="image/svg+xml" data="./img/cards-main/SVG/card-01-04.svg")
         .card-main-wrap 
            .card-main
               .card-main__header
                  .card-main-triangl
                     object.card-main-body__title.card-main-body__title-03(type="image/svg+xml" data="./img/cards-main/SVG/title-03.svg")
                  .card-main-insert
               .card-main-body
                  .card-main-hero
                     img.card-main-hero__image(src="./img/cards-main/PNG/Art-03.png" alt="hero")
               .card-main-bottom
                  ul.card-main-bottom__list 
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-01(type="image/svg+xml" data="./img/cards-main/SVG/card-01-01.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-02(type="image/svg+xml" data="./img/cards-main/SVG/card-01-02.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-03(type="image/svg+xml" data="./img/cards-main/SVG/card-01-03.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-04(type="image/svg+xml" data="./img/cards-main/SVG/card-01-04.svg")
         .card-main-wrap 
            .card-main
               .card-main__header
                  .card-main-triangl
                     object.card-main-body__title.card-main-body__title-04(type="image/svg+xml" data="./img/cards-main/SVG/title-04.svg")
                  .card-main-insert
               .card-main-body
                  .card-main-hero
                     img.card-main-hero__image(src="./img/cards-main/PNG/Art-04.png" alt="hero")
               .card-main-bottom
                  ul.card-main-bottom__list 
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-01(type="image/svg+xml" data="./img/cards-main/SVG/card-01-01.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-02(type="image/svg+xml" data="./img/cards-main/SVG/card-01-02.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-03(type="image/svg+xml" data="./img/cards-main/SVG/card-01-03.svg")
                     li.item 
                        a.card-main-bottom__link(href="#") 
                           object.card-main-bottom__image.card-main-bottom__image-size-04(type="image/svg+xml" data="./img/cards-main/SVG/card-01-04.svg")


      .cards-description
         .nameplate
            .nameplate__header
               .nameplate__triangle
               .nameplate__insert
            .nameplate__footer
               .nameplate-text-inner
                  h2.nameplate-text-inner__title Basic
                  h3.nameplate-text-inner__subtitle Slow Orb 
                  p.nameplate-text-inner__description Cast out a radianite orb that breaks into a slowing field upon impact with the ground.
               .nameplate-image 
                  img.nameplate-image__image(src="./img/PNG/em-01.png" alt="emblem")     
         .nameplate
            .nameplate__header
               .nameplate__triangle
               .nameplate__insert
            .nameplate__footer
               .nameplate-text-inner
                  h2.nameplate-text-inner__title SIGNATURE
                  h3.nameplate-text-inner__subtitle Healing Orb
                  p.nameplate-text-inner__description Heal an ally or yourself to full health over a few seconds.
               .nameplate-image 
                  img.nameplate-image__image(src="./img/PNG/em-02.png" alt="emblem")     
         .nameplate
            .nameplate__header
               .nameplate__triangle
               .nameplate__insert
            .nameplate__footer
               .nameplate-text-inner
                  h2.nameplate-text-inner__title ULTIMATE
                  h3.nameplate-text-inner__subtitle Resurrection
                  p.nameplate-text-inner__description Target a friendly corpse. After a short delay, revive them with full health.
               .nameplate-image 
                  img.nameplate-image__image(src="./img/PNG/em-03.png" alt="emblem")  
         .nameplate.nameplate-btn
            .nameplate__header
               .nameplate__triangle
               .nameplate__insert
            .nameplate__footer
               img.nameplate-image__image(src="./img/SVG/Polygon.svg" alt="triangle")  
   .footer 
