$width-body: 3099;

$font-montserrat: 'Montserrat';
$font-inter: 'Inter';

/* colors */
$color-wheit: #FFFFFF;
$color-black: #1F2326;
$color-grey: #C4C4C4;

/* responsive font */
@mixin responsive-font($pc-size, $mobile-size) {
    $add-size: $pc-size - $mobile-size;
    font-size: calc(#{$mobile-size + px} + #{$add-size} * ((100vw - 320px) / #{$width-body}));
    $width-body: $width-body - 320;
}

@font-face {
    font-family: "DrukWide"; 
    src: url("../fonts/Druk-Wide-Medium.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal; 
}
$font-DrukWide: "DrukWide";